<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" /><!--开启二级缓存-->
        <setting name="mapUnderscoreToCamelCase" value="true" /><!--数据库字段与JavaBean属性才用驼峰命名映射-->
        <setting name="callSettersOnNulls" value="true" /><!--返回对象是Map时，空值需要put null-->
    </settings>
</configuration>